@import 'tailwindcss';

@theme {
  --color-main: #ffa500;
  --color-darker: #e28b00;
  --color-lighter: #ffb84d;
  --color-subtle: #ffd18a;
  --color-error: #ff3b3b;
  --color-warning: #ffcc00;
  --color-info: #0063f7;
  --color-success: #06c270;
  --color-fade: rgba(36, 44, 57, 70%);
  --color-dark-1: #242c39;
  --color-dark-2: #1a202c;
  --color-dark-3: #2f3847;
  --color-dark-4: #3a4556;
  --color-light-1: #c0c6d4;
  --color-light-2: #ffffff;
  --color-light-3: #9aa1b2;
  --color-light-4: #6b7384;

  --font-main: Roboto, sans-serif;
  --font-secondary: Orbitron, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #ffa500;
}

input.border-error:focus {
  box-shadow: 0 0 0 1px #ff3b3b;
}
